@tailwind base;

@tailwind components;

@tailwind utilities;

/* Fonts */
.font-standard {
    font-family: "Roboto", sans-serif;
}

.font-primary {
    font-family: "Algerian", sans-serif;
}

/* Fonts sizes */
.fs-title {
    font-size: 38px;
    line-height: 23px;
    letter-spacing: 2px;
}

.fs-headline-sub {
    font-size: 28px;
    line-height: 23px;
}

h3.fs-headline-sub {
    letter-spacing: 3px;
}

.fs-subtitle {
    font-size: 23px;
    line-height: 23px;
}

.fs-body {
    font-size: 16px;
}

.fs-body-2 {
    font-size: 13px;
}

.fs-body-3 {
    font-size: 11px;
}

/* Colors */
.color-blue {
    color: #253777;
}

.color-blue-dark {
    color: #011043;
}

.color-black {
    color: #000517;
}

.color-grey {
    color: #7d7d7d;
}

/* Others */
.wrapper-pdf {
    width: 100%;
    height: 100%;
    border: 7px solid #263877;
}
